.contenedor-hidden {
    margin: 10px 0px;
    background-color: bisque;
    width: 300px;
    height: 100px;
    padding: 15px;
    overflow: hidden;
}
.contenedor-scroll {
    background-color: bisque;
    margin: 10px 0px;
    width: 300px;
    height: 100px;
    padding: 15px;
    overflow: scroll;
}
.contenedor-visible {
    background-color: bisque;
    margin: 10px 0px;
    width: 300px;
    height: 100px;
    padding: 15px;
    overflow: visible;
}
.contenedor-auto {
    background-color: bisque;
    margin: 10px 0px;
    width: 300px;
    height: 100px;
    padding: 15px;
    overflow: auto;
}
.container {
    padding: 15px;
    width: 80%;
}