.btn {
    border: none;
    padding: 0.25rem 0.5rem;
    color: #2b2b2b;

    &:hover { 
        background-color: cyan;
        color: blue;
        border-bottom: 3px solid blue
}
}
//este punto es importante xq es una forma de no repetir código
.btn-2 {
   @extend .btn;
   margin: 0.5rem;
   border-radius: 0.25rem;
}